Encoding=UTF-8
Version=Beta 1.0
Name=RUSB Manager
Comment=
Categories=Utility;Development;Network
Type=Application
Terminal=false
Exec=ruby /home/#{`echo $USER`.chomp}/Rubian/rubian
Icon= /home/#{`echo $USER`.chomp}/Rusb_installer/icons/rubyicon.png
